//Colors
$container_border_color: #ABBBD0;
$container_background_color:#FAFCFD;

$running_background_color:#EAEFF7;
$running_border_color:#588EBE;

$disabled_background_color:#EAEFF7;
$disabled_border_color:#D1D2D3;

$rejected_background_color:#FCE0E0;
$rejected_border_color:#D03C3C;

$completed_background_color:#EBF1E9;
$completed_border_color:#62983D;

$default_status_container_color:#D8D8D8;

$default_shadow_color:#969D90;

$progress_bar_failed:#F7CBAC;
$progress_bar_ok:#C5E0B3;

$average_color:#FEC20C;

//Colors

//Metrics
$container_width:1099px;
//Metrics


//Fonts
$default_font: Calibri;
//Fonts
